$color-white = #ffffff
$main-color = #0DA4F0
$color-yellow = #fff3c0
$color-green-light = #50c291
$color-green-dark = #158f5c
$color-green-btn = #05A862
$color-purple-light = #926aae
$color-purple-dark = #45055c
$color-purple-btn = #642B8C

$rankings_item-table-width-large = 830px
$rankings_item-table-width = 720px
$rankings_item-table-tab-width = 560px
$rankings_item-table-mob-width = 270px

$ultraThin()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale
