h2.section__title Expert Insights

.experts
  .experts__item
    p.experts__under-title
      | RewardExpert spoke with Andrea Roebker, Regional Communications Director of the 
      a.experts__under-title-link(href="") U.S. Small Business Association
      | , about tips, advice, and resources available for small business owners.

    .experts__container
      .experts__author
        .experts__author-photo
          picture
            img.experts__author-photo-img(src='images/photo/expert_1.png', srcset='images/photo/expert_1@2x.png 2x')

        .experts__author-text
          h4.experts__author-title
            | Andrea Roebker

          p.experts__author-text
            | Regional Communications Director of the U.S. Small Business Association

      .experts__content
        p.experts__content-text
          span.semibold Get Educated 
          | — The SBA hosts frequent in-house and web-based workshops on how to access capital, get advising and find opportunities in government contracting via our 68 district offices throughout the nation (including one in Minneapolis & Madison!). Additionally, our resource partners provide entrepreneur education on a variety of topics. Further, the SBA offers more than 60 online classes entrepreneurs can tap on their own schedule.

        p.experts__content-text
          span.semibold Find a Mentor 
          | — The good news is that when you are thinking about starting a business, you don’t have to do it alone. The SBA helps by providing mentors and counselors to guide you along the way through our funded resource partners. Organizations we support include:

          ul.experts__content-list
            li.experts__content-list-item
              p.experts__content-list-text
                span.semibold SCORE: 
                | SCORE is a national organization of volunteer business professionals that work with current and prospective business owners to help them formulate and realize their goal of starting a business, expanding a business, or solving a business challenge — all at no cost to the business owner. Access to market research data, identifying what questions to ask, and business plan analysis are ways we can help. For example, a business consultant can work to determine if a market exists, what the market looks like, how the business owner will reach the market, and most importantly, if the business can actually make a profit.

            li.experts__content-list-item
              p.experts__content-list-text
                span.semibold Small Business Development Centers: 
                | SBDCs also provide assistance to aspiring and current small business owners with a variety of free business consulting and low-cost training services. They are typically hosted by leading universities and state economic development agencies, and funded in part by the SBA.

            li.experts__content-list-item
              p.experts__content-list-text
                span.semibold Targeted Audiences: 
                | The SBA’s Woman Business Centers and Veteran Business Outreach Centers are designed to meet the specific needs of women and veterans starting their own business. Also, theU.S. Export Assistance Centers work to help businesses interested in selling globally.

        p.experts__content-text
          span.semibold Develop Partnerships 
          | — It is critical to develop partnerships and a lot of information can be shared, connections can be made and time can be saved by collaborating with organizations and other businesses. The hardest part for most small business owners is to identify those partners. The SBA’s network of mentors and business consultants can connect entrepreneurs with bankers, accountants, marketing experts, and attorneys, among others. 

        p.experts__content-text
          span.semibold Plan for the Future 
          | — The best part of connecting with a mentor and developing partnerships is the ability to plan for the future. With a roadmap, a business plan, a strategic plan, and/or financial projections, the business has a better opportunity for success and they can help with adjustments when opportunities arise or unforeseen challenges occur.

  .experts__item
    p.experts__under-title
      | RewardExpert spoke with Paige Arnof-Fenn, Founder & CEO of 
      a.experts__under-title-link(href="") Mavens & Moguls
      | , for her insights on entrepreneurship.

    .experts__container
      .experts__author
        .experts__author-photo.experts__author-photo--purple
          picture
            img.experts__author-photo-img(src='images/photo/expert_2.png', srcset='images/photo/expert_2@2x.png 2x')

        .experts__author-text
          h4.experts__author-title
            | Paige Arnof-Fenn

          p.experts__author-text
            | Founder & CEO of Mavens & Moguls

      .experts__content
        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 1. What factors influenced your decision to start your business in the city that you eventually chose?

          p.expert__content-text
            | I moved to Cambridge from Santa Monica, CA in 1999. I had been a graduate student here for two years in the late 80s and early 90s but moved back when my husband got a job offer here 19 years ago. After a couple of years of working as head of marketing at 3 different startup companies, I started a global marketing and branding firm here 16 years ago and I think Boston is a great place to live and to start a company. It is a bit of the Rodney Dangerfield of cities since Silicon Valley/Bay Area and Silicon Alley/NYC get all the good press but truly Boston is where a lot of the tech and VC world started.

          p.expert__content-text
            | As a woman business owner and entrepreneur there are amazing groups here and I am part of many of them. I find them very collegial and collaborative. The academic community is also welcoming and inclusive even if you are not one of their alumns. Boston is not a one company town, there are top universities, hospitals, VCs, tech companies, nonprofits, healthcare, medical device, financial services, apparel, etc. There is no one niche. It is both big and small, everyone knows everyone here you are truly 1 degree from people you want to know so you better make friends and not enemies! The ecosystem here is great — supportive, friendly and smart.

          p.expert__content-text
            | Funding is there but you have to know your stuff and do your homework. The bar is high but there is a path for those who are ready. I have lived in NYC, LA, San Francisco, DC, Atlanta, etc. and in my experience Boston is one of the best cities if you can take the long, cold winters here. More than any other place I have lived it is not about how you look, how much money you have, who you are married to, where you went to school, etc. — but really about how smart you are and how good your idea is.

          p.expert__content-text
            | I would say the culture here is low key smarts. People work hard and are jazzed by ideas. Really successful people are usually the most casually dressed. Being “wicked smart” is cool. Boston is about excellence. We attract the best and expect the best.

        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 2. What location-specific advantages helped your business to succeed?

          p.expert__content-text
            | High density of top schools, research, venture capital, tech companies, etc.  It is both a big city and small town.

        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 3. What challenges, if any, have you encountered starting your business there?

          p.expert__content-text
            | Winters can be long and hard. If a Nor’easter hits you have to be flexible to change meetings, events, etc.  This month I had several events get postponed and in person meetings changed to calls or Skype last minute. Mother Nature wins every time.

        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 4. What piece of advice would you share with entrepreneurs who are just starting out?

          p.expert__content-text
            | Make friends before you need them and make sure you don’t cross wires with the wrong people, in a town like this that can be deadly where everyone is connected. You have to always be “on” – you never know when you may run into a potential client or investor here. Join nonprofits to get involved in the community. You will meet great people and do a lot of good.
