-
  var values = [
   {
     state: "Denver-Aurora-Lakewood, CO",
     rank: 1,
     officeRent: 0.84,
     education: 0.23,
     income: 0.54,
     businesses: 0.45,
     startup: 0.48
   },
   {
     state: "Boston-Cambridge-Newton, MA-NH",
     rank: 2,
     officeRent: 0.74,
     education: 0.44,
     income: 0.36,
     businesses: 0.73,
     startup: 0.54
   },
   {
     state: "Bridgeport-Stamford-Norwalk, CT",
     rank: 3,
     officeRent: 0.5,
     education: 0.65,
     income: 0.06,
     businesses: 0.96,
     startup: 0.51
   },
   {
     state: "Minneapolis-St. Paul-Bloomington, MN-WI",
     rank: 4,
     officeRent: 0.55,
     education: 0.33,
     income: 0.14,
     businesses: 0.15,
     startup: 0.5
   },
   {
     state: "Madison, WI",
     rank: 5,
     officeRent: 0.33,
     education: 0.26,
     income: 0.83,
     businesses: 0.62,
     startup: 0.51
   },
   {
     state: "Lincoln, NE",
     rank: 6,
     officeRent: 0.88,
     education: 0.3,
     income: 0.66,
     businesses: 0.44,
     startup: 0.55
   },
   {
     state: "Hartford-West Hartford-East Hartford, CT",
     rank: 7,
     officeRent: 0.5,
     education: 0.53,
     income: 0.26,
     businesses: 0.83,
     startup: 0.51
   },
   {
     state: "Pittsburgh, PA",
     rank: 8,
     officeRent: 0.42,
     education: 0.47,
     income: 0.81,
     businesses: 0.74,
     startup: 0.54
   },
   {
     state: "Fort Collins, CO",
     rank: 9,
     officeRent: 0.17,
     education: 0.24,
     income: 0.89,
     businesses: 0.8,
     startup: 0.48
   },
   {
     state: "Austin-Round Rock, TX",
     rank: 10,
     officeRent: 0.09,
     education: 0.32,
     income: 0.34,
     businesses: 0.21,
     startup: 0.52
   },
   {
     state: "Springfield, MA",
     rank: 11,
     officeRent: 0.5,
     education: 0.47,
     income: 0.06,
     businesses: 0.75,
     startup: 0.53
   },
   {
     state: "Green Bay, WI",
     rank: 12,
     officeRent: 0.96,
     education: 0.2,
     income: 0.91,
     businesses: 0.46,
     startup: 0.51
   },
   {
     state: "Omaha-Council Bluffs, NE-IA",
     rank: 13,
     officeRent: 0.88,
     education: 0.28,
     income: 0.5,
     businesses: 0.19,
     startup: 0.55
   },
   {
     state: "Davenport-Moline-Rock Island, IA-IL",
     rank: 14,
     officeRent: 0.98,
     education: 0.21,
     income: 0.09,
     businesses: 0.58,
     startup: 0.5
   },
   {
     state: "Lafayette, LA",
     rank: 15,
     officeRent: 0.74,
     education: 0.61,
     income: 0.86,
     businesses: 0.85,
     startup: 0.5
   },
   {
     state: "Seattle-Tacoma-Bellevue, WA",
     rank: 16,
     officeRent: 0.98,
     education: 0.38,
     income: 0.47,
     businesses: 0.66,
     startup: 0.49
   },
   {
     state: "Toledo, OH",
     rank: 17,
     officeRent: 0.95,
     education: 0.66,
     income: 0.8,
     businesses: 0.57,
     startup: 0.51
   },
   {
     state: "Fort Wayne, IN",
     rank: 18,
     officeRent: 0.96,
     education: 0.31,
     income: 0.11,
     businesses: 0.27,
     startup: 0.51
   },
   {
     state: "Colorado Springs, CO",
     rank: 19,
     officeRent: 0.84,
     education: 0.24,
     income: 0.54,
     businesses: 0.19,
     startup: 0.48
   },
   {
     state: "Buffalo-Cheektowaga-Niagara Falls, NY",
     rank: 20,
     officeRent: 0.69,
     education: 0.45,
     income: 0.15,
     businesses: 0.41,
     startup: 0.5
   },
   {
     state: "Washington-Arlington-Alexandria, DC-VA-MD-WV",
     rank: 21,
     officeRent: 0.46,
     education: 0.33,
     income: 0.14,
     businesses: 0.1,
     startup: 0.52
   },
   {
     state: "Dayton, OH",
     rank: 22,
     officeRent: 0.82,
     education: 0.58,
     income: 0.72,
     businesses: 0.31,
     startup: 0.51
   },
   {
     state: "Kennewick-Richland, WA",
     rank: 23,
     officeRent: 0.98,
     education: 0.28,
     income: 0.42,
     businesses: 0.09,
     startup: 0.49
   },
   {
     state: "Lubbock, TX",
     rank: 24,
     officeRent: 0.66,
     education: 0.39,
     income: 0.61,
     businesses: 0.55,
     startup: 0.49
   },
   {
     state: "Atlanta-Sandy Springs-Roswell, GA",
     rank: 25,
     officeRent: 0.93,
     education: 0.48,
     income: 0.51,
     businesses: 0.59,
     startup: 0.46
   },
   {
     state: "Evansville, IN-KY",
     rank: 26,
     officeRent: 0.99,
     education: 0.24,
     income: 0.32,
     businesses: 0.42,
     startup: 0.51
   },
   {
     state: "Richmond, VA",
     rank: 27,
     officeRent: 0.56,
     education: 0.4,
     income: 0.15,
     businesses: 0.38,
     startup: 0.51
   },
   {
     state: "Rochester, NY",
     rank: 28,
     officeRent: 0.69,
     education: 0.39,
     income: 0.3,
     businesses: 0.59,
     startup: 0.5
   },
   {
     state: "South Bend-Mishawaka, IN-MI",
     rank: 29,
     officeRent: 0.9,
     education: 0.44,
     income: 0.1,
     businesses: 0.44,
     startup: 0.51
   },
   {
     state: "Baton Rouge, LA",
     rank: 30,
     officeRent: 0.74,
     education: 0.45,
     income: 0.44,
     businesses: 0.61,
     startup: 0.5
   },
   {
     state: "Roanoke, VA",
     rank: 31,
     officeRent: 0.87,
     education: 0.26,
     income: 0.08,
     businesses: 0.67,
     startup: 0.51
   },
   {
     state: "San Francisco-Oakland-Hayward, CA",
     rank: 32,
     officeRent: 0.03,
     education: 0.38,
     income: 0.3,
     businesses: 0.74,
     startup: 0.5
   },
   {
     state: "Beaumont-Port Arthur, TX",
     rank: 33,
     officeRent: 0.17,
     education: 0.61,
     income: 0.7,
     businesses: 0.54,
     startup: 0.49
   },
   {
     state: "Columbus, OH",
     rank: 34,
     officeRent: 0.82,
     education: 0.43,
     income: 0.72,
     businesses: 0.14,
     startup: 0.51
   },
   {
     state: "New York-Newark-Jersey City, NY-NJ-PA",
     rank: 35,
     officeRent: 0.5,
     education: 0.43,
     income: 0.32,
     businesses: 0.87,
     startup: 0.49
   },
   {
     state: "Dallas-Fort Worth-Arlington, TX",
     rank: 36,
     officeRent: 0.18,
     education: 0.38,
     income: 0.16,
     businesses: 0.26,
     startup: 0.48
   },
   {
     state: "Winston-Salem, NC",
     rank: 37,
     officeRent: 0.81,
     education: 0.5,
     income: 0.47,
     businesses: 0.3,
     startup: 0.49
   },
   {
     state: "New Haven-Milford, CT",
     rank: 38,
     officeRent: 0.5,
     education: 0.61,
     income: 0.3,
     businesses: 0.88,
     startup: 0.51
   },
   {
     state: "Akron, OH",
     rank: 39,
     officeRent: 1,
     education: 0.57,
     income: 0.64,
     businesses: 0.38,
     startup: 0.51
   },
   {
     state: "Knoxville, TN",
     rank: 40,
     officeRent: 0.91,
     education: 0.37,
     income: 0.72,
     businesses: 0.57,
     startup: 0.47
   },
   {
     state: "Chicago-Naperville-Elgin, IL-IN-WI",
     rank: 41,
     officeRent: 0.33,
     education: 0.46,
     income: 0.3,
     businesses: 0.29,
     startup: 0.5
   },
   {
     state: "Baltimore-Columbia-Towson, MD",
     rank: 42,
     officeRent: 0.3,
     education: 0.46,
     income: 0.11,
     businesses: 0.28,
     startup: 0.52
   },
   {
     state: "Portland-South Portland, ME",
     rank: 43,
     officeRent: 0.74,
     education: 0.23,
     income: 0.97,
     businesses: 0.95,
     startup: 0.52
   },
   {
     state: "Syracuse, NY",
     rank: 44,
     officeRent: 0.76,
     education: 0.35,
     income: 0.11,
     businesses: 0.62,
     startup: 0.5
   },
   {
     state: "Cleveland-Elyria, OH",
     rank: 45,
     officeRent: 1,
     education: 0.67,
     income: 0.68,
     businesses: 0.51,
     startup: 0.52
   },
   {
     state: "Worcester, MA-CT",
     rank: 46,
     officeRent: 0.4,
     education: 0.46,
     income: 0.17,
     businesses: 0.32,
     startup: 0.53
   },
   {
     state: "Asheville, NC",
     rank: 47,
     officeRent: 0.65,
     education: 0.3,
     income: 0.66,
     businesses: 0.93,
     startup: 0.49
   },
   {
     state: "Wichita, KS",
     rank: 48,
     officeRent: 0.87,
     education: 0.4,
     income: 0.47,
     businesses: 0.38,
     startup: 0.51
   },
   {
     state: "Spokane-Spokane Valley, WA",
     rank: 49,
     officeRent: 0.79,
     education: 0.41,
     income: 0.24,
     businesses: 0.69,
     startup: 0.49
   },
   {
     state: "Houston-The Woodlands-Sugar Land, TX",
     rank: 50,
     officeRent: 0.17,
     education: 0.58,
     income: 0.47,
     businesses: 0.24,
     startup: 0.5
   },
   {
     state: "Albany-Schenectady-Troy, NY",
     rank: 51,
     officeRent: 0.67,
     education: 0.35,
     income: 0.3,
     businesses: 0.54,
     startup: 0.5
   },
   {
     state: "Memphis, TN-MS-AR",
     rank: 52,
     officeRent: 0.57,
     education: 0.53,
     income: 0.07,
     businesses: 0.39,
     startup: 0.47
   },
   {
     state: "Canton-Massillon, OH",
     rank: 53,
     officeRent: 1,
     education: 0.56,
     income: 0.88,
     businesses: 0.39,
     startup: 0.51
   },
   {
     state: "Harrisburg-Carlisle, PA",
     rank: 54,
     officeRent: 0.3,
     education: 0.36,
     income: 0.62,
     businesses: 0.48,
     startup: 0.53
   },
   {
     state: "Manchester-Nashua, NH",
     rank: 55,
     officeRent: 0.14,
     education: 0.28,
     income: 0.51,
     businesses: 0.82,
     startup: 0.51
   },
   {
     state: "Waco, TX",
     rank: 56,
     officeRent: 0.83,
     education: 0.35,
     income: 0.19,
     businesses: 0.5,
     startup: 0.49
   },
   {
     state: "Albuquerque, NM",
     rank: 57,
     officeRent: 0.72,
     education: 0.68,
     income: 0.07,
     businesses: 0.43,
     startup: 0.49
   },
   {
     state: "New Orleans-Metairie, LA",
     rank: 58,
     officeRent: 0.24,
     education: 0.56,
     income: 0.13,
     businesses: 0.9,
     startup: 0.5
   },
   {
     state: "Utica-Rome, NY",
     rank: 59,
     officeRent: 0.76,
     education: 0.31,
     income: 0.09,
     businesses: 0.53,
     startup: 0.5
   },
   {
     state: "Trenton, NJ",
     rank: 60,
     officeRent: 0.3,
     education: 0.54,
     income: 0.19,
     businesses: 0.74,
     startup: 0.49
   },
   {
     state: "Lynchburg, VA",
     rank: 61,
     officeRent: 0.87,
     education: 0.37,
     income: 0.21,
     businesses: 0.22,
     startup: 0.51
   },
   {
     state: "Raleigh, NC",
     rank: 62,
     officeRent: 0.21,
     education: 0.4,
     income: 0.21,
     businesses: 0.2,
     startup: 0.49
   },
   {
     state: "Kingsport-Bristol-Bristol, TN-VA",
     rank: 63,
     officeRent: 0.91,
     education: 0.47,
     income: 0.89,
     businesses: 0.69,
     startup: 0.47
   },
   {
     state: "Grand Rapids-Wyoming, MI",
     rank: 64,
     officeRent: 0.85,
     education: 0.38,
     income: 0.5,
     businesses: 0.35,
     startup: 0.5
   },
   {
     state: "Huntsville, AL",
     rank: 65,
     officeRent: 0.59,
     education: 0.57,
     income: 0.44,
     businesses: 0.53,
     startup: 0.48
   },
   {
     state: "Kalamazoo-Portage, MI",
     rank: 66,
     officeRent: 0.9,
     education: 0.52,
     income: 0.68,
     businesses: 0.45,
     startup: 0.5
   },
   {
     state: "Charlotte-Concord-Gastonia, NC-SC",
     rank: 67,
     officeRent: 0.81,
     education: 0.53,
     income: 0.56,
     businesses: 0.26,
     startup: 0.48
   },
   {
     state: "Portland-Vancouver-Hillsboro, OR-WA",
     rank: 68,
     officeRent: 0.12,
     education: 0.37,
     income: 0.7,
     businesses: 0.7,
     startup: 0.51
   },
   {
     state: "Greeley, CO",
     rank: 69,
     officeRent: 0.17,
     education: 0.21,
     income: 0.96,
     businesses: 0.03,
     startup: 0.48
   },
   {
     state: "Youngstown-Warren-Boardman, OH-PA",
     rank: 70,
     officeRent: 0.42,
     education: 0.6,
     income: 0.96,
     businesses: 0.77,
     startup: 0.51
   },
   {
     state: "Scranton-Wilkes-Barre-Hazleton, PA",
     rank: 71,
     officeRent: 0.3,
     education: 0.44,
     income: 0.83,
     businesses: 0.95,
     startup: 0.53
   },
   {
     state: "Ann Arbor, MI",
     rank: 72,
     officeRent: 0.95,
     education: 0.47,
     income: 0.13,
     businesses: 0.3,
     startup: 0.5
   },
   {
     state: "Peoria, IL",
     rank: 73,
     officeRent: 0.98,
     education: 0.44,
     income: 0.35,
     businesses: 0.49,
     startup: 0.5
   },
   {
     state: "Lansing-East Lansing, MI",
     rank: 74,
     officeRent: 0.54,
     education: 0.45,
     income: 0.42,
     businesses: 0.22,
     startup: 0.5
   },
   {
     state: "Hagerstown-Martinsburg, MD-WV",
     rank: 75,
     officeRent: 0.3,
     education: 0.52,
     income: 0.06,
     businesses: 0.19,
     startup: 0.52
   },
   {
     state: "Birmingham-Hoover, AL",
     rank: 76,
     officeRent: 0.91,
     education: 0.59,
     income: 0.38,
     businesses: 0.68,
     startup: 0.48
   },
   {
     state: "Oklahoma City, OK",
     rank: 77,
     officeRent: 0.64,
     education: 0.32,
     income: 0.21,
     businesses: 0.34,
     startup: 0.5
   },
   {
     state: "Urban Honolulu, HI",
     rank: 78,
     officeRent: 0.04,
     education: 0.22,
     income: 0.05,
     businesses: 0.2,
     startup: 0.5
   },
   {
     state: "Chattanooga, TN-GA",
     rank: 79,
     officeRent: 0.6,
     education: 0.46,
     income: 0.62,
     businesses: 0.86,
     startup: 0.47
   },
   {
     state: "Erie, PA",
     rank: 80,
     officeRent: 0.97,
     education: 0.59,
     income: 0.68,
     businesses: 0.56,
     startup: 0.53
   },
   {
     state: "Kansas City, MO-KS",
     rank: 81,
     officeRent: 0.45,
     education: 0.32,
     income: 0.61,
     businesses: 0.18,
     startup: 0.47
   },
   {
     state: "Milwaukee-Waukesha-West Allis, WI",
     rank: 82,
     officeRent: 0.79,
     education: 0.33,
     income: 0.53,
     businesses: 0.3,
     startup: 0.47
   },
   {
     state: "San Antonio-New Braunfels, TX",
     rank: 83,
     officeRent: 0.09,
     education: 0.42,
     income: 0.4,
     businesses: 0.1,
     startup: 0.47
   },
   {
     state: "Indianapolis-Carmel-Anderson, IN",
     rank: 84,
     officeRent: 0.39,
     education: 0.3,
     income: 0.3,
     businesses: 0.12,
     startup: 0.48
   },
   {
     state: "Allentown-Bethlehem-Easton, PA-NJ",
     rank: 85,
     officeRent: 0.3,
     education: 0.5,
     income: 0.54,
     businesses: 0.43,
     startup: 0.53
   },
   {
     state: "Hickory-Lenoir-Morganton, NC",
     rank: 86,
     officeRent: 0.21,
     education: 0.51,
     income: 0.73,
     businesses: 0.68,
     startup: 0.49
   },
   {
     state: "Cincinnati, OH-KY-IN",
     rank: 87,
     officeRent: 0.63,
     education: 0.43,
     income: 0.66,
     businesses: 0.24,
     startup: 0.49
   },
   {
     state: "Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",
     rank: 88,
     officeRent: 0.3,
     education: 0.59,
     income: 0.26,
     businesses: 0.46,
     startup: 0.5
   },
   {
     state: "Atlantic City-Hammonton, NJ",
     rank: 89,
     officeRent: 0.3,
     education: 0.52,
     income: 0.51,
     businesses: 0.94,
     startup: 0.49
   },
   {
     state: "Rockford, IL",
     rank: 90,
     officeRent: 0.33,
     education: 0.66,
     income: 0.19,
     businesses: 0.26,
     startup: 0.5
   },
   {
     state: "Lexington-Fayette, KY",
     rank: 91,
     officeRent: 0.63,
     education: 0.34,
     income: 0.44,
     businesses: 0.56,
     startup: 0.48
   },
   {
     state: "Nashville-Davidson-Murfreesboro-Franklin, TN",
     rank: 92,
     officeRent: 0.1,
     education: 0.34,
     income: 0.56,
     businesses: 0.63,
     startup: 0.47
   },
   {
     state: "Olympia-Tumwater, WA",
     rank: 93,
     officeRent: 0.43,
     education: 0.45,
     income: 0.42,
     businesses: 0.4,
     startup: 0.49
   },
   {
     state: "Corpus Christi, TX",
     rank: 94,
     officeRent: 0.79,
     education: 0.62,
     income: 0.61,
     businesses: 0.36,
     startup: 0.49
   },
   {
     state: "Durham-Chapel Hill, NC",
     rank: 95,
     officeRent: 0.21,
     education: 0.5,
     income: 0.24,
     businesses: 0.13,
     startup: 0.49
   },
   {
     state: "Reading, PA",
     rank: 96,
     officeRent: 0.3,
     education: 0.57,
     income: 0.7,
     businesses: 0.41,
     startup: 0.53
   },
   {
     state: "St. Louis, MO-IL",
     rank: 97,
     officeRent: 0.38,
     education: 0.38,
     income: 0.47,
     businesses: 0.36,
     startup: 0.47
   },
   {
     state: "Tulsa, OK",
     rank: 98,
     officeRent: 0.64,
     education: 0.41,
     income: 0.26,
     businesses: 0.44,
     startup: 0.5
   },
   {
     state: "Santa Cruz-Watsonville, CA",
     rank: 99,
     officeRent: 0.08,
     education: 0.24,
     income: 0.5,
     businesses: 0.84,
     startup: 0.48
   },
   {
     state: "Montgomery, AL",
     rank: 100,
     officeRent: 0.91,
     education: 0.51,
     income: 0.21,
     businesses: 0.65,
     startup: 0.48
   },
   {
     state: "Eugene, OR",
     rank: 101,
     officeRent: 0.12,
     education: 0.22,
     income: 0.73,
     businesses: 0.81,
     startup: 0.5
   },
   {
     state: "Savannah, GA",
     rank: 102,
     officeRent: 0.44,
     education: 0.31,
     income: 0.34,
     businesses: 0.92,
     startup: 0.46
   },
   {
     state: "Little Rock-North Little Rock-Conway, AR",
     rank: 103,
     officeRent: 0.81,
     education: 0.28,
     income: 0.03,
     businesses: 0.72,
     startup: 0.47
   },
   {
     state: "Virginia Beach-Norfolk-Newport News, VA-NC",
     rank: 104,
     officeRent: 0.56,
     education: 0.4,
     income: 0.08,
     businesses: 0.29,
     startup: 0.5
   },
   {
     state: "El Paso, TX",
     rank: 105,
     officeRent: 0.67,
     education: 0.43,
     income: 0.51,
     businesses: 0.06,
     startup: 0.49
   },
   {
     state: "San Diego-Carlsbad, CA",
     rank: 106,
     officeRent: 0.23,
     education: 0.4,
     income: 0.4,
     businesses: 0.49,
     startup: 0.48
   },
   {
     state: "Flint, MI",
     rank: 107,
     officeRent: 0.54,
     education: 0.69,
     income: 0.62,
     businesses: 0.35,
     startup: 0.5
   },
   {
     state: "Greensboro-High Point, NC",
     rank: 108,
     officeRent: 0.21,
     education: 0.49,
     income: 0.21,
     businesses: 0.64,
     startup: 0.49
   },
   {
     state: "Lancaster, PA",
     rank: 109,
     officeRent: 0.3,
     education: 0.31,
     income: 0.81,
     businesses: 0.73,
     startup: 0.53
   },
   {
     state: "Detroit-Warren-Dearborn, MI",
     rank: 110,
     officeRent: 0.54,
     education: 0.61,
     income: 0.36,
     businesses: 0.47,
     startup: 0.49
   },
   {
     state: "San Jose-Sunnyvale-Santa Clara, CA",
     rank: 111,
     officeRent: 0.08,
     education: 0.34,
     income: 0.24,
     businesses: 0.16,
     startup: 0.48
   },
   {
     state: "Columbus, GA-AL",
     rank: 112,
     officeRent: 0.93,
     education: 0.59,
     income: 0.38,
     businesses: 0.37,
     startup: 0.46
   },
   {
     state: "McAllen-Edinburg-Mission, TX",
     rank: 113,
     officeRent: 0.77,
     education: 0.66,
     income: 0.87,
     businesses: 0.04,
     startup: 0.49
   },
   {
     state: "Springfield, MO",
     rank: 114,
     officeRent: 0.64,
     education: 0.32,
     income: 0.84,
     businesses: 0.67,
     startup: 0.44
   },
   {
     state: "Providence-Warwick, RI-MA",
     rank: 115,
     officeRent: 0.4,
     education: 0.32,
     income: 0.53,
     businesses: 0.86,
     startup: 0.49
   },
   {
     state: "Gainesville, FL",
     rank: 116,
     officeRent: 0.84,
     education: 0.51,
     income: 0.58,
     businesses: 0.37,
     startup: 0.46
   },
   {
     state: "Santa Rosa, CA",
     rank: 117,
     officeRent: 0.03,
     education: 0.36,
     income: 0.19,
     businesses: 0.91,
     startup: 0.48
   },
   {
     state: "Norwich-New London, CT",
     rank: 118,
     officeRent: 0.4,
     education: 0.41,
     income: 0.47,
     businesses: 0.92,
     startup: 0.51
   },
   {
     state: "Phoenix-Mesa-Scottsdale, AZ",
     rank: 119,
     officeRent: 0.36,
     education: 0.46,
     income: 0.16,
     businesses: 0.07,
     startup: 0.43
   },
   {
     state: "Naples-Immokalee-Marco Island, FL",
     rank: 120,
     officeRent: 0.05,
     education: 0.45,
     income: 0.26,
     businesses: 0.87,
     startup: 0.46
   },
   {
     state: "Louisville/Jefferson County, KY-IN",
     rank: 121,
     officeRent: 0.69,
     education: 0.36,
     income: 0.26,
     businesses: 0.21,
     startup: 0.48
   },
   {
     state: "Wilmington, NC",
     rank: 122,
     officeRent: 0.13,
     education: 0.45,
     income: 0.17,
     businesses: 0.94,
     startup: 0.49
   },
   {
     state: "Brownsville-Harlingen, TX",
     rank: 123,
     officeRent: 0.77,
     education: 0.64,
     income: 0.89,
     businesses: 0.04,
     startup: 0.49
   },
   {
     state: "Fayetteville, NC",
     rank: 124,
     officeRent: 0.58,
     education: 0.64,
     income: 0.38,
     businesses: 0.11,
     startup: 0.49
   },
   {
     state: "Fayetteville-Springdale-Rogers, AR-MO",
     rank: 125,
     officeRent: 0.52,
     education: 0.18,
     income: 0.17,
     businesses: 0.54,
     startup: 0.47
   },
   {
     state: "Tampa-St. Petersburg-Clearwater, FL",
     rank: 126,
     officeRent: 0.48,
     education: 0.54,
     income: 0.56,
     businesses: 0.29,
     startup: 0.47
   },
   {
     state: "North Port-Sarasota-Bradenton, FL",
     rank: 127,
     officeRent: 0.68,
     education: 0.49,
     income: 0.53,
     businesses: 0.79,
     startup: 0.46
   },
   {
     state: "Salem, OR",
     rank: 128,
     officeRent: 0.12,
     education: 0.53,
     income: 0.71,
     businesses: 0.23,
     startup: 0.5
   },
   {
     state: "Greenville-Anderson-Mauldin, SC",
     rank: 129,
     officeRent: 0.65,
     education: 0.38,
     income: 0.84,
     businesses: 0.52,
     startup: 0.48
   },
   {
     state: "Los Angeles-Long Beach-Anaheim, CA",
     rank: 130,
     officeRent: 0.23,
     education: 0.36,
     income: 0.35,
     businesses: 0.72,
     startup: 0.47
   },
   {
     state: "Salt Lake City, UT",
     rank: 131,
     officeRent: 0.34,
     education: 0.27,
     income: 0.17,
     businesses: 0.13,
     startup: 0.45
   },
   {
     state: "Sacramento-Roseville-Arden-Arcade, CA",
     rank: 132,
     officeRent: 0.03,
     education: 0.56,
     income: 0.17,
     businesses: 0.17,
     startup: 0.49
   },
   {
     state: "Augusta-Richmond County, GA-SC",
     rank: 133,
     officeRent: 0.71,
     education: 0.5,
     income: 0.77,
     businesses: 0.36,
     startup: 0.46
   },
   {
     state: "Reno, NV",
     rank: 134,
     officeRent: 0.15,
     education: 0.22,
     income: 0.01,
     businesses: 0.49,
     startup: 0.43
   },
   {
     state: "Vallejo-Fairfield, CA",
     rank: 135,
     officeRent: 0.03,
     education: 0.53,
     income: 0.32,
     businesses: 0.09,
     startup: 0.48
   },
   {
     state: "York-Hanover, PA",
     rank: 136,
     officeRent: 0.3,
     education: 0.44,
     income: 0.76,
     businesses: 0.15,
     startup: 0.53
   },
   {
     state: "Jackson, MS",
     rank: 137,
     officeRent: 0.76,
     education: 0.43,
     income: 0.01,
     businesses: 0.79,
     startup: 0.49
   },
   {
     state: "Mobile, AL",
     rank: 138,
     officeRent: 0.95,
     education: 0.66,
     income: 0.61,
     businesses: 0.71,
     startup: 0.48
   },
   {
     state: "Miami-Fort Lauderdale-West Palm Beach, FL",
     rank: 139,
     officeRent: 0.05,
     education: 0.57,
     income: 0.44,
     businesses: 0.9,
     startup: 0.45
   },
   {
     state: "Tucson, AZ",
     rank: 140,
     officeRent: 0.36,
     education: 0.6,
     income: 0.21,
     businesses: 0.08,
     startup: 0.44
   },
   {
     state: "Orlando-Kissimmee-Sanford, FL",
     rank: 141,
     officeRent: 0.48,
     education: 0.5,
     income: 0.56,
     businesses: 0.5,
     startup: 0.45
   },
   {
     state: "Crestview-Fort Walton Beach-Destin, FL",
     rank: 142,
     officeRent: 0.86,
     education: 0.24,
     income: 0.51,
     businesses: 0.99,
     startup: 0.46
   },
   {
     state: "Cape Coral-Fort Myers, FL",
     rank: 143,
     officeRent: 0.68,
     education: 0.62,
     income: 0.44,
     businesses: 0.75,
     startup: 0.46
   },
   {
     state: "Salisbury, MD-DE",
     rank: 144,
     officeRent: 0.3,
     education: 0.36,
     income: 0.5,
     businesses: 0.97,
     startup: 0.49
   },
   {
     state: "Spartanburg, SC",
     rank: 145,
     officeRent: 0.21,
     education: 0.37,
     income: 0.82,
     businesses: 0.39,
     startup: 0.48
   },
   {
     state: "Ocala, FL",
     rank: 146,
     officeRent: 0.48,
     education: 0.62,
     income: 0.89,
     businesses: 0.25,
     startup: 0.46
   },
   {
     state: "Oxnard-Thousand Oaks-Ventura, CA",
     rank: 147,
     officeRent: 0,
     education: 0.4,
     income: 0.08,
     businesses: 0.52,
     startup: 0.48
   },
   {
     state: "Anchorage, AK",
     rank: 148,
     officeRent: 0.03,
     education: 0.53,
     income: 0.09,
     businesses: 0.67,
     startup: 0.48
   },
   {
     state: "Myrtle Beach-Conway-North Myrtle Beach, SC-NC",
     rank: 149,
     officeRent: 0.65,
     education: 0.29,
     income: 0.83,
     businesses: 0.99,
     startup: 0.48
   },
   {
     state: "Jacksonville, FL",
     rank: 150,
     officeRent: 0.55,
     education: 0.54,
     income: 0.66,
     businesses: 0.68,
     startup: 0.46
   },
   {
     state: "Ogden-Clearfield, UT",
     rank: 151,
     officeRent: 0.34,
     education: 0.22,
     income: 0.19,
     businesses: 0.02,
     startup: 0.45
   },
   {
     state: "San Luis Obispo-Paso Robles-Arroyo Grande, CA",
     rank: 152,
     officeRent: 0.08,
     education: 0.27,
     income: 0.42,
     businesses: 0.97,
     startup: 0.48
   },
   {
     state: "Bremerton-Silverdale, WA",
     rank: 153,
     officeRent: 0.06,
     education: 0.5,
     income: 0.26,
     businesses: 0.41,
     startup: 0.49
   },
   {
     state: "Las Vegas-Henderson-Paradise, NV",
     rank: 154,
     officeRent: 0.23,
     education: 0.48,
     income: 0.04,
     businesses: 0.47,
     startup: 0.41
   },
   {
     state: "Fort Smith, AR-OK",
     rank: 155,
     officeRent: 0.52,
     education: 0.3,
     income: 0.26,
     businesses: 0.58,
     startup: 0.47
   },
   {
     state: "Columbia, SC",
     rank: 156,
     officeRent: 0.21,
     education: 0.44,
     income: 0.66,
     businesses: 0.28,
     startup: 0.48
   },
   {
     state: "Deltona-Daytona Beach-Ormond Beach, FL",
     rank: 157,
     officeRent: 0.48,
     education: 0.46,
     income: 0.66,
     businesses: 0.65,
     startup: 0.46
   },
   {
     state: "Fresno, CA",
     rank: 158,
     officeRent: 0.62,
     education: 0.6,
     income: 0.26,
     businesses: 0.14,
     startup: 0.48
   },
   {
     state: "Modesto, CA",
     rank: 159,
     officeRent: 0.62,
     education: 0.63,
     income: 0.4,
     businesses: 0.15,
     startup: 0.48
   },
   {
     state: "Stockton-Lodi, CA",
     rank: 160,
     officeRent: 0.15,
     education: 0.62,
     income: 0.38,
     businesses: 0.07,
     startup: 0.48
   },
   {
     state: "Boise City, ID",
     rank: 161,
     officeRent: 0.7,
     education: 0.28,
     income: 0.03,
     businesses: 0.12,
     startup: 0.47
   },
   {
     state: "Palm Bay-Melbourne-Titusville, FL",
     rank: 162,
     officeRent: 0.38,
     education: 0.56,
     income: 0.44,
     businesses: 0.61,
     startup: 0.46
   },
   {
     state: "Visalia-Porterville, CA",
     rank: 163,
     officeRent: 0.62,
     education: 0.56,
     income: 0.54,
     businesses: 0.09,
     startup: 0.48
   },
   {
     state: "Bakersfield, CA",
     rank: 164,
     officeRent: 0.62,
     education: 0.63,
     income: 0.19,
     businesses: 0.05,
     startup: 0.48
   },
   {
     state: "Clarksville, TN-KY",
     rank: 165,
     officeRent: 0.1,
     education: 0.57,
     income: 0.73,
     businesses: 0.11,
     startup: 0.47
   },
   {
     state: "Gulfport-Biloxi-Pascagoula, MS",
     rank: 166,
     officeRent: 0.95,
     education: 0.46,
     income: 0.01,
     businesses: 0.51,
     startup: 0.49
   },
   {
     state: "Port St. Lucie, FL",
     rank: 167,
     officeRent: 0.05,
     education: 0.61,
     income: 0.47,
     businesses: 0.63,
     startup: 0.46
   },
   {
     state: "Pensacola-Ferry Pass-Brent, FL",
     rank: 168,
     officeRent: 0.86,
     education: 0.51,
     income: 0.64,
     businesses: 0.38,
     startup: 0.46
   },
   {
     state: "Huntington-Ashland, WV-KY-OH",
     rank: 169,
     officeRent: 0.57,
     education: 0.46,
     income: 0.11,
     businesses: 0.32,
     startup: 0.48
   },
   {
     state: "Santa Maria-Santa Barbara, CA",
     rank: 170,
     officeRent: 0,
     education: 0.33,
     income: 0.11,
     businesses: 0.82,
     startup: 0.48
   },
   {
     state: "Provo-Orem, UT",
     rank: 171,
     officeRent: 0.34,
     education: 0.29,
     income: 0.34,
     businesses: 0.02,
     startup: 0.45
   },
   {
     state: "Merced, CA",
     rank: 172,
     officeRent: 0.62,
     education: 0.64,
     income: 0.44,
     businesses: 0.01,
     startup: 0.48
   },
   {
     state: "Salinas, CA",
     rank: 173,
     officeRent: 0.08,
     education: 0.21,
     income: 0.16,
     businesses: 0.77,
     startup: 0.48
   },
   {
     state: "Riverside-San Bernardino-Ontario, CA",
     rank: 174,
     officeRent: 0.23,
     education: 0.63,
     income: 0.21,
     businesses: 0.07,
     startup: 0.47
   },
   {
     state: "Lakeland-Winter Haven, FL",
     rank: 175,
     officeRent: 0.48,
     education: 0.61,
     income: 0.75,
     businesses: 0.03,
     startup: 0.46
   },
   {
     state: "Tallahassee, FL",
     rank: 176,
     officeRent: 0.43,
     education: 0.63,
     income: 0.36,
     businesses: 0.5,
     startup: 0.46
   },
   {
     state: "Charleston-North Charleston, SC",
     rank: 177,
     officeRent: 0.05,
     education: 0.4,
     income: 0.64,
     businesses: 0.71,
     startup: 0.48
   }
  ]