h2.section__title.section__title--white
  | Our Tips for Small Businesses Owners

.tips
  .tips__item
    h3.tips__item-title
      | Financing Tips for Small Business Owners

    .tips__item-text
      | If you’re thinking about starting a new business, you’re going to need a 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/categories/best-small-business-credit-cards") good business credit card. 
      | A business card is an easy way to pay for travel expenses, office supplies and more. It can even be a great option if you need a little extra cash flow during those lean months or to invest in the future when things are booming.

    .tips__item-text
      | Best of all, you can earn cash back or free travel if you have the right card. Let’s take a look at some great card options for small business owners and independent contractors.

  .tips__item
    h3.tips__item-title
      | Best for Travelers

    .tips__item-text
      | If your business involves a lot of travel, you’ll probably want to get one of the many 
      a.tips__item-link(href="https://www.rewardexpert.com/blog/how-small-business-owners-can-maximize-rewards/") travel rewards business cards 
      | on the market. Before applying, you should think about what kind of travel expenses you have, how you’ll want to use the rewards you earn and what else you might want to get out of the card.

    .tips__item-text
      | For instance, if you often drive on business trips and stay a night or two in hotel, then a co-branded airline card won’t do you much good. But if you often fly on Delta, for example, you might want 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/gold-delta-skymiles-business-credit-card") Delta’s business credit card
      | . Every airline has its own lineup of cards, including legacy carriers like 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/citibusiness-aadvantage-platinum-select-world-mastercard") American
      | , Delta and 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/united-mileageplus-explorer-business-card") United
      | , and discount airlines like 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/southwest-rapid-rewards-plus-credit-card") Southwest
      | , 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/jetblue-business-mastercard") JetBlue 
      | and even 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/spirit-airlines-world-mastercard-for-business-credit-card") Spirit.

    .tips__item-text
      | The best travel rewards business cards, though, are typically the ones that offer the most flexibility in terms of earning and spending. For that, you’ll want to look at cards that are part of big rewards programs. That means either 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/banks/chase-credit-cards") Chase Ultimate Rewards 
      | or 
      a.tips__item-link(href="https://www.rewardexpert.com/blog/american-express-business-cards-which-is-best-for-you/") American Express Membership Rewards 
      | because Citi doesn’t currently offer a ThankYou Rewards business card.

    .tips__item-text
      | With either the Chase or Amex programs, you’ll be able to transfer the points you earn to a variety of airline and hotel partners and redeem for discounted or free travel. You’ll also be able to redeem points for hotels, airfare, car rentals and more through the program’s online travel portal.

    .tips__item-text
      | These rewards programs offer a lot to cardholders, particularly if you know a little about maximizing the value of your redemptions. Perennial favorites in this category, thanks in part to their generous earning potential, solid benefits and flexible rewards, include the 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/ink-business-preferred-credit-card") Chase Ink Business Preferred 
      | card and the 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/business-gold-rewards-card") Business Gold Rewards card from American Express.

  .tips__item
    h3.tips__item-title
      | Financing Tips for Small Business Owners

    .tips__item-text
      | If you don’t travel for business, or if you don’t have any interest in earning rewards that are best suited for travel redemptions, then consider a business card that offers cash back. These cards give you the ultimate in flexibility because all of your rewards can easily be redeemed for statement credits. It can be a great way to save some money on your business expenses.

    .tips__item-text
      | There are a lot of excellent cashback cards available for small business owners. 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/spark-cash-for-business") The Capital One Spark Cash for Business 
      | is a great, hassle-free option. You’ll get 2 percent back for all purchases, with no limits or restrictions. It also comes with a $500 sign-up bonus and a variety of other valuable perks, such as free employee cards and primary rental car insurance.

    .tips__item-text
      | There are also a number of cashback business cards that offer greater return rates for select purchases. If you spend a lot in certain bonus categories, then these cards may be a better way to go since you can get up to 5 percent back.

    .tips__item-text
      | The 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/ink-cash-business-credit-card") Ink Business Cash card from Chase 
      | and the 
      a.tips__item-link(href="https://www.rewardexpert.com/credit-cards/cards/simplycash-plus-business-credit-card") SimplyCash Plus Business card from American Express 
      | are two solid choices for cards with high-earning bonus categories. Both give 5 percent back at office supply stores and for telephone services, as well as offering bonuses for a variety of other types of purchases.

    .tips__item-text
      | Check out the card details and compare them to how you spend your business’s money to see which will give you the most cash back.

  .tips__item
    h3.tips__item-title
      | The Little Extra Perks that Can Go a Long Way

    .tips__item-text
      | All of the cards that we’ve talked about here offer a variety of benefits that many business owners will appreciate. All of the issuers give their cardholders free access to a suite of tools and apps to help them organize their business finances and track expenses. You’ll also get perks like free or cheap employee cards, free car rental insurance, purchase protections and financing offers. Sometimes it’s the little things that can make your day a lot easier.

  +tips_ilustr