include ./svg-mixins

.upper__content
  .upper__pic
    +main_icon_svg

  .upper__text
    p.upper__text-under-title.upper__text-under-title--first
      | If you’re thinking of founding a small business, location is everything. You don’t need to relocate to Silicon Valley or Seattle to create a successful startup company. In fact, that ship has sailed — soaring real estate prices and sky-high rents in the region make it yesterday’s news. The question on everybody’s mind is: where is the next Silicon Valley going to be?

    p.upper__text-under-title
      | RewardExpert endeavored to answer this question by analyzing all of the relevant data we could get our hands on. We compared 177 metropolitan areas with more than 250,000 residents, using 30 data points in nine categories to determine which metropolitan areas will give your small business or tech startup the best chance to survive and succeed, and which ones will present you with the most daunting of challenges.

  .upper__notes
    .upper__notes-analyses
      h3.upper__notes-title
        | In our analysis, we took into account the following factors:

      ul.upper__notes-analyses-list
        li.upper__notes-analyses-item
          +office_svg
          | office space

        li.upper__notes-analyses-item
          +demographic_svg
          | demographics and diversity

        li.upper__notes-analyses-item
          +education_svg
          | education

        li.upper__notes-analyses-item
          +income_svg
          | income and assets

        li.upper__notes-analyses-item
          +transit_svg
          | transit and commutes

        li.upper__notes-analyses-item
          +housing_svg
          | housing costs

        li.upper__notes-analyses-item
          +retail_svg
          | retail

        li.upper__notes-analyses-item
          +taxes_svg
          | taxes and business incentives

        li.upper__notes-analyses-item
          +venture_svg
          | venture capital activity

        li.upper__notes-analyses-item
          +startups_svg
          | startups and small businesses

    .upper__notes-business
      h3.upper__notes-title
        | A Note On Tax Credits and Business Incentives:

      p.upper__notes-business-text
        | Federal, state and local governments offer numerous incentives to attract businesses. Witness the competition for Amazon’s future second headquarters: some offers are so favorable that they beggar belief. Tax credits for job creation, research and development, and incentives, such as property tax abatements and other sweetheart deals, reduce overall tax revenues and can neutralize the beneficial effects of economic growth. Moreover, such incentives tend to benefit huge corporations like Amazon more than small businesses and startups, and working taxpayers — your future employees — wind up stuck with the bill. We have therefore given this category a lower weight in our analysis, and given a higher one to the startup and small-business category.





